/* Color Palette */
$primary-050: #b7c8c9;
$primary-300: #709294;
$primary-500: #10494c;
$primary-700: #0d3a3d;
$primary-900: #0a2c2e;

$secondary-050: #fffbf7;
$secondary-100: #fff0de;
$secondary-200: #ffdaac;
$secondary-800: #895a1d;
$secondary-900: #4e3311;

$accent-200: #ffb989;
$accent-400: #ff9b57;
$accent-700: #b84b11;

$error: #b00020;

$neutral-grey: #949499;
$neutral-grey-dark-1: #4e4f54;
$neutral-grey-dark-2: #171717;
$neutral-grey-light-1: #f9f9fb;
$neutral-grey-light-2: #f4f4f4;
$neutral-grey-light-3: #e1e2e3;
$neutral-white: #ffffff;

$disabled-dark-bg: rgba(255, 255, 255, 0.3);
$disabled-light-bg: rgba(0, 0, 0, 0.3);
$disabled-accent: rgba(184, 75, 17, 0.4);

$hover-primary-010: #eaf2f2;
$hover-accent: #6c2c09;
$hover-dark-bg: rgba(255, 255, 255, 0.1);
